[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

div.product-category__caption.caption, div.product__caption.caption {
  font-style: normal;
}

.product__photos__img-container {
  margin-top: 20px;
}

.product__hero-photo__img-container {
  margin: auto;
  float: none;
}

.products__tabs {

  .tab-content {
    margin-top: 2rem;
  }

}

.product__scrolling-image-scroller {

  overflow-x: auto;
  white-space: nowrap;

  .product__scrolling-image-container {
    width: 30rem;
    display: inline-block
  }
}