---
layout: page
---

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

	<h2>The LiteSheet Mission</h2>
	<p class="about-us__details">{{ page.mission | escape }}</p>

	<h2>Our Philosophy</h2>
	<br/>
	<div class="row">

		{% for philosophy-item in page.philosophy %}
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail about-us__philosophy-box">
					<div class="caption">
						<h3>{{ philosophy-item.title | escape }}</h3>
						<p>{{ philosophy-item.content | escape }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<h2>Our Process</h2>
	<p class="about-us__details">{{ page.process | escape }}</p>

	<h2>Our Technology</h2>
	<p class="about-us__details">{{ page.technology | escape }}</p>

</div>
