---
layout: page
---

<div ng-controller="ItemCompareController as itemCompareCtrl">

	<div>
		<div class="col-sm-3">

			<p>Select up to 3 companies</p>

			<ul class="list-group">
				{% for company in site.companies %}
					<li class="list-group-item">

						<a ng-click="itemCompareCtrl.selectItem({{ forloop.index0 }})"
						   href="javascript:;"
						   item='{{ company | jsonify }}'>
							{{ company.title | escape }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="col-sm-8">
			<table ng-show="itemCompareCtrl.selectedItems.length > 0" class="table" ng-cloak>

				{% for field in page.comparison-fields %}
					<tr>
						<td ng-repeat="item in itemCompareCtrl.selectedItems" class="col-sm-3">

							<div>{{ field.display }}</div>
							<div ng-bind="item['{{ field.field }}']"></div>
						</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" defer></script>

<!--product comparison-->
<script src="{{ "/js/item-compare.js " | prepend: site.baseurl }}" defer></script>