---
layout: page
---

<div ng-controller="ProductComparisonController as productCompareCtrl">

	<div>
		<div class="col-sm-3">
			<ul class="list-group">
				{% for company in site.companies %}
				<li class="list-group-item">

					<a ng-click="productCompareCtrl.selectProduct({{ forloop.index0 }})"
					   href="javascript:;"
					   product='{{ company | jsonify }}'>
						{{ company.title | escape }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="col-sm-8">
			<table ng-if="productCompareCtrl.firstProduct" class="table" ng-cloak>

				{% for field in page.comparison-fields %}
					<tr>
						<td ng-if="productCompareCtrl.secondProduct"
						    ng-bind="productCompareCtrl.secondProduct['{{ field.field }}']"
						    class="col-sm-3">
						</td>
						<th class="col-sm-1">{{ field.display }}</th>
						<td ng-bind="productCompareCtrl.firstProduct['{{ field.field }}']" class="col-sm-3"></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>