---
layout: page-narrow
---

<!--name and family-->
<h1>
	{{ page.title | escape }}
	<br/>
	<small>{{ page.family | escape }}</small>
</h1>

<!--description-->
<div>{{content}}</div>

<div class="product__scrolling-image-scroller">

	<!--hero image-->
	<div class="product__scrolling-image-container">
		<img src="{{ page.hero_photo }}" class="img-responsive img-rounded center-block">
	</div>

	<!--more images-->
	{% for photo in page.photos %}
		<div class="product__scrolling-image-container">
			<img src="{{ photo }}" class="img-responsive img-rounded center-block">
		</div>
	{% endfor %}
</div>