---
layout: page
---

<!--description-->
<div class="row">{{content}}</div>

<div class="row products__tabs">

	<!--tabs-->
	<ul class="nav nav-tabs" id="tabs" role="tablist">

		<!--product categories-->
		<li class="nav-item active">
			<a class="nav-link"
			   id="nav-tab-categories"
			   data-toggle="tab"
			   href="#tab-categories"
			   role="tab"
			   aria-controls="tab-categories"
			   aria-selected="true">

				Product Categories
			</a>
		</li>

		<!--product families-->
		<li class="nav-item">
			<a class="nav-link"
			   id="nav-tab-families"
			   data-toggle="tab"
			   href="#tab-families"
			   role="tab"
			   aria-controls="tab-families"
			   aria-selected="false">

				Product Families
			</a>
		</li>

		<!--product numbers-->
		<li class="nav-item">
			<a class="nav-link"
			   id="nav-tab-numbers"
			   data-toggle="tab"
			   href="#tab-numbers"
			   role="tab"
			   aria-controls="contact"
			   aria-selected="false">

				Product Numbers
			</a>
		</li>
	</ul>

	<!--content-->
	<div class="tab-content container" id="tabs-content">

		<!--product categories-->
		<div class="tab-pane fade in active" id="tab-categories" role="tabpanel" aria-labelledby="nav-tab-categories">
			<div class="row">

				{% for item in site.product-categories %}

					{% include products/product-category-nav-item.html %}
				{% endfor %}
			</div>
		</div>

		<!--product families-->
		<div class="tab-pane fade" id="tab-families" role="tabpanel" aria-labelledby="nav-tab-families">
			<div class="row">

				{% for item in site.product-families %}

					{% include products/product-category-nav-item.html %}
				{% endfor %}
			</div>
		</div>

		<!--product numbers-->
		<div class="tab-pane fade" id="tab-numbers" role="tabpanel" aria-labelledby="nav-tab-numbers">

			<form class="form-inline text-center">

				<div>
					<!--search box-->
					<div id="product-number-search-container" class="form-group"
					     data-container="body"
					     data-toggle="focus"
					     data-placement="bottom"
					     data-html="true"
					     data-content='
							<table id="product-search-results" class="table table-hover table-bordered" style="display: none;">
							   {% for product in site.products %}

									<tr class="product-search-item" data-product-number="{{ product.product-number }}">
										<td>
											<a href="{{ product.url | relative_url }}">{{ product.title }}</a>
										</td>
									</tr>

				            {% endfor %}

							</table>
							<div id="product-search-no-search">Enter a product number</div>
							<div id="product-search-no-matches" style="display: none;">No Matches</div>'>

						<input id="product-search-box" type="text" class="form-control" placeholder="Product number">
					</div>

				</div>
			</form>

		</div>
	</div>
</div>

<!--javascript-->
<script src="/js/products.js" defer></script>