---
layout: page
---

<!--state dropdown-->
<div class="row">
	<div class="form-group col-sm-5 col-md-4 col-lg-3">
		<label for="state-dropdown">State</label>
		<select class="form-control" id="state-dropdown">
			<option value="">---</option>

			{% for state in page.states %}
				<option value="{{ state }}">{{ state }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<!--location info-->
<div class="row" id="displayed-locations"></div>

<div class="row">
	<div id="map"></div>
</div>

<!--map-->
{% for location in page.locations %}
	<input type="hidden" data-location
	       data-name="{{ location.name }}"
	       data-latitude="{{ location.latitude }}"
	       data-longitude="{{ location.longitude }}"
	       data-email="{{ location.email }}"
	       data-phone="{{ location.phone }}"
	       data-state="{{ location.state }}"
	       data-webaddress="{{ location.web-address }}"
	>
{% endfor %}

<!--javascript-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFKJimc_ZVgMZX3tGQpzCiVW3s9W3Kbc0&callback=initMap"
        async defer>
</script>

<script src="{{ "/js/rep-finder.js " | prepend: site.baseurl }}" async defer></script>