---
layout: page
---

<h1>Rep Finder</h1>

<div class="row">
	<table class="table" id="selectedLocation" style="display: none;">
		<tr>
			<th>Name</th>
			<td id="selectedName"></td>
		</tr>
		<tr>
			<th>Email</th>
			<td id="selectedEmail"></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td id="selectedPhone"></td>
		</tr>
		<tr>
			<th>Web Address</th>
			<td id="selectedWebAddress"></td>
		</tr>
	</table>
</div>

<div class="row">
	<div id="map"></div>
</div>


{% for location in page.locations %}
	<input type="hidden" data-location
	       data-name="{{ location.name }}"
	       data-latitude="{{ location.latitude }}"
	       data-longitude="{{ location.longitude }}"
	       data-email="{{ location.email }}"
	       data-phone="{{ location.phone }}"
	       data-webaddress="{{ location.web-address }}"
	>
{% endfor %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFKJimc_ZVgMZX3tGQpzCiVW3s9W3Kbc0&callback=initMap"
        async defer>
</script>

<script src="{{ "/js/rep-finder.js " | prepend: site.baseurl }}" async defer></script>