---
layout: page
---

<!--state dropdown-->
<div class="row">
	<h2>Search for LiteSheet reps by state</h2>
</div>

<div class="row">
	<div class="form-group col-sm-5 col-md-4 col-lg-3">
		<select class="form-control" id="state-dropdown">
			<option value="">Select a state</option>

			{% for state in page.states %}
				<option value="{{ state }}">{{ state }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<!--location info-->
<div class="row" id="displayed-locations"></div>

<div class="row">
	<h2>Search for LiteSheet reps on the map</h2>
</div>
<div class="row">
	<div id="map"></div>
</div>

<!--map-->
{% for agent in site.agents %}
	<input type="hidden" data-location
	       data-name="{{ agent.title }}"
	       data-latitude="{{ agent.latitude }}"
	       data-longitude="{{ agent.longitude }}"
	       data-email="{{ agent.email }}"
	       data-phone="{{ agent.phone }}"
	       data-state="{{ agent.state }}"
	       data-webaddress="{{ agent.web-address }}"
	>
{% endfor %}

<!--javascript-->
<script src="{{ "/js/rep-finder.js " | prepend: site.baseurl }}" defer></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFKJimc_ZVgMZX3tGQpzCiVW3s9W3Kbc0&callback=initMap"
        defer>
</script>